<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="/js/deviceTracker.js"></script>  
</head>
<body>

<section class="header">
<a href="/" class="logo">Device Certification Tracking System</a>
<button type="button" class="btn" onclick="javascript:register()">Create an Account</button>
</section>

<div>
  <section>
      <%-body -%>
    </section>
</div>

<footer>
  <ul class="horiz">
    <li><a href="#">Help</a></li>
    <li><a href="mailto:info@b2m-solutions.com?Subject=DeviceTracker">Contact</a></li>
    <li>&copy; 2012 Biz2Mobile Ltd</li>
  </ul>
</footer>
</body>
</html>
