<!doctype html>  
   <head>
   <meta charset="UTF-8">
   <title>Device Tracker</title>
   <link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
   <link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/> 
   <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
    <script src="/js/deviceTracker.js"></script>
   </head>
   <body>
   <!--start container-->
   <div id="container">
   <!--start header-->
   <header>
   <!--start logo-->
   <a href="/" id="logo"><img src="images/logo.png" width="221" height="84" alt="logo"/></a>   
   <!--end logo-->
   <nav>
   <div class="button black">
   <% if (!user) { %>
   <a href="/login">login</a>
   <% } else { %>
   <a href="/logout">logout</a>
   <% } %>
   </div>
  </nav>  
   <!--end header-->
   </header>
   <%- body %>
   </div>
   <!--end container-->

   <!--start footer-->
   <footer>
   <div class="container">  
   <div id="FooterTree"> © 2012 B2mSolutions </div>
   </div>
   </footer>
   <!--end footer-->
   </body>
</html>