body {
  margin:0;
  padding:0;
  border:0;
}

.header {
  padding:5px;
  background-color: #E6E6FA;
  color:#CCCCCC;
  height:60px;
}

section.header > button {
  float:right;
  vertical-align: bottom;
}

.btn{
 padding:5px;
 margin-top:30px; 
 background-color: #B31B1B;
  color:#FFFFFF;
  vertical-align: bottom;
}

a,
a:hover,
a.logo:first-letter {
	color: #EC6D0B;
}

.logo {
	font-size: 30px;
	color:#B31B1B;
}

section.body > article {
  padding: 10px;
  width:30%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.body {
  height:80%;
  background-color: #ffffff;
  color:#CCCCCC;
}

.horiz li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

footer {
text-align: center;
}
