body {
  margin: 0;
  padding: 0;
  border: 0;
}
.header {
  padding: 5px;
  background-color: #e6e6fa;
  color: #ccc;
  height: 60px;
}
section.header > button {
  float: right;
  vertical-align: bottom;
}
.btn {
  padding: 5px;
  margin-top: 30px;
  background-color: #b31b1b;
  color: #fff;
  vertical-align: bottom;
}
a,
a:hover,
a.logo:first-letter {
  color: #ec6d0b;
}
.logo {
  font-size: 30px;
  color: #b31b1b;
}
section.body > article {
  padding: 10px;
  width: 30%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.body {
  height: 80%;
  background-color: #fff;
  color: #ccc;
}
.horiz li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
footer {
  text-align: center;
}
